.container {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
    border: solid 2px black;
    background-color: lightgrey;
    box-shadow: 10px 5px 5px black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: white; */
    height: 50px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color:black;
    text-align: center;
  }

  html,
  body {
      height: 100%;
      background-attachment: fixed;
      background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }